*{
	margin: 0;
	padding: 0;
	font-family: 'popins',sans-serif;
	box-sizing: border-box;
}

.cntainer{
	width: 100%;
	height: 100vh;
	background: #f2e9ff;
	display: flex;
	align-self: center;
	justify-content: center;
}

.gallery{
	display: flex;
	align-self: center;
	justify-content: center;
}

.img-box{
	width: 100px;
	height: 500px;
	margin: 10px;
	border-radius: 50px;
	background: url(gambar/gambar1.JPG);
	background-size: cover;
	background-position: center;
	position: relative;
	transition: width 0.5s;
}

.img-box:nth-child(2){
	background: url(gambar/gambar2.JPG);
	background-size: cover;
	background-position: center;
}
.img-box:nth-child(3){
	background: url(gambar/gambar3.JPG);
	background-size: cover;
	background-position: center;
}
.img-box:nth-child(4){
	background: url(gambar/gambar4.JPG);
	background-size: cover; 
	background-position: center;
}

.img-box h3{
	color: #fff;
	padding: absolute;
	bottom: 0;
	left: 30px;
	opacity: 0;
	transition: buttom 0.50,opacity 0.50;
}

.img-box:hover{
	width: 300px;
	cursor: pointer;
}

.img-box:hover h3{
	opacity: 1;
	bottom: 25px;
	
}
